{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

	<h1 class="text-center">{{title}}</h1>

	<div class="row m-5">	
		<div class="col-sm-7">
			<form method='POST' action=''>
				{% csrf_token %}
				
					{% for field in form %}
					
						{%	bootstrap_field field %}
					
					{% endfor %}				
				
				<input class="btn btn-primary" type="submit" value='Save'/>
			</form>
		</div>
		<div class="recent col-sm-5">
			<div class="text-center display-6">
				<span>Recent invoices: </span>
				<span class="text-primary">{{total_invoices}}</span>
			</div>
			
			{% for instance in queryset %}
				<div class="card m-3">
					<div class="p-2">{{instance.name}}</div>
					<div class="p-2">{{instance.invoice_date}}</div>
					<div class="p-2">${{instance.total}}</div><br>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}