{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>{{title}}</h1>

    <button class="btn btn-danger">Click Me</button>

    <div class="row">
        <div class="col-sm-6 myClass">
            test 1
        </div>
        
        <div class="col-sm-6 myClass">
            test2
        </div>
    </div>
</body>
</html>