{% extends 'base.html' %}

{% block content %}

	<h1 class="text-center">{{title}}</h1>

	<table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>DATE</th>
            <th>CUSTOMER NAME</th>
            <th>INVOICE NUMBER</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.invoice_date}}</td>
            <td>{{instance.name}}</td>
            <td>{{instance.invoice_number}}</td>
            <td>{{instance.total}}</td>
          </tr>
      {% endfor %}
    </table>
	
{% endblock%}