{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

	<h1 class="text-center">{{title}}</h1>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="row m-5">
      {% for field in form %}
      <div class="col-sm-5">
        {% bootstrap_field field %}
      </div>
      {% endfor %}
      <div class="col-sm-2">
        <input class="btn btn-primary mt-4" type="submit" value="Search">
      </div>
    </div>
  </form>


	<table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>DATE</th>
            <th>CUSTOMER NAME</th>
            <th>INVOICE NUMBER</th>
            <th>AMOUNT</th>
            <th>ACTION</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.invoice_date}}</td>
            <td><a href="{% url 'update' instance.id %}">{{instance.name}}</a></td>
            <td>{{instance.invoice_number}}</td>
            <td>{{instance.total}}</td>
            <td><a href="{% url 'delete' instance.id %}">Delete</a></td>
            
          </tr>
      {% endfor %}
    </table>
    
{% endblock%}